.vscode
build
composer.lock
vendor
.php_cs.cache
coverage
a.php
.phpunit.result.cache
result.php
resultReverse.php
tests/Target55
tests/Target56
tests/Target70
tests/Target71
tests/Target72
tests/Target73
tests/Target74
tests/Target80
tests/Target81

tests/Target1055
tests/Target1056
tests/Target1070
tests/Target1071
tests/Target1072
tests/Target1073
tests/Target1074
tests/Target1080
tests/Target1081

