.vscode
build
composer.lock
vendor
.php_cs.cache
coverage
a.php
.phpunit.result.cache
result.php
resultReverse.php
Target55
Target56
Target70
Target71
Target72
Target73
Target74
Target80
Target81

Target1055
Target1056
Target1070
Target1071
Target1072
Target1073
Target1074
Target1080
Target1081

phabelConverted
