.vscode
build
composer.lock
vendor
.php_cs.cache
coverage
a.php
.phpunit.result.cache
result.php
resultReverse.php
test/Target55
test/Target56
test/Target70
test/Target71
test/Target72
test/Target73
test/Target74
test/Target80
test/Target81

