<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Main">
      <directory phpVersion="8.0">test/Target80</directory>
      <directory phpVersion="7.4">test/Target74</directory>
      <directory phpVersion="7.3">test/Target73</directory>
      <directory phpVersion="7.2">test/Target72</directory>
      <directory phpVersion="7.1">test/Target71</directory>
      <directory phpVersion="7.0">test/Target70</directory>
      <directory phpVersion="5.6">test/Target56</directory>
    </testsuite>
  </testsuites>
</phpunit>
